---
layout: default
permalink: /
---

<style type="text/css">
  #section-nav-caontainer .jdb-row-padding a {
    background-position: center;
    background-size: cover;
    border: 10px double #ccc;
    height: 250px;    
  }
  #section-nav-caontainer .jdb-row-padding a .jdb-display-middle {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 6px 10px;
    opacity: 0.5;
  }
</style>

<section class="intro jdb-theme jdb-padding-64">
  <div class="grid jdb-display-container">
    <div class="jdb-container jdb-padding-64" style="max-width:1234px; margin:auto">
      <div class="jdb-col">
        <div class="jdb-col jdb-twothird">
          <h2 class="intro__text font-effect-emboss jdb-text-white">
            BONJOUR,<br/>Je m'appelle Alia et je suis une créatrice de contenu, une entrepreneure créative et une artiste pour la cause.
          </h2>
        </div>
        <div class="jdb-col jdb-quarter jdb-center jdb-hide-small">
          {% include figure.html src="/assets/images/me-playing-guitare.jpg" img_class="jdb-circle jdb-opacity-min jdb-border" %}
          <a class="jdb-btn jdb-round jdb-theme-action" href="{{ '/a-propos' | relative_url }}">
            En savoir plus <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% include wave.html %}

 <!-- if site.tags.featured.size > 0  -->
  <!-- <section id="featured" class="posts jdb-row jdb-padding jdb-border jdb-white">
    <div class="grid">
      <h2 class="posts__title">
        <span>Articles mis en avant</span></a>
      </h2>
      <div class="posts__container">
        {% for post in site.tags.featured limit:3 %}
          {% include post-card.html %}
        {% endfor %}
      </div>
    </div>
  </section> -->

<div class="jdb-padding-32"></div>

<section id="articles" class="posts jdb-white">
  <div class="jdb-row-padding jdb-white jdb-content">
    <div class="jdb-col jdb-twothird l8-s12">
      <div class="jdb-justify">
        <!-- <img class="jdb-left jdb-round" src="{{ '/assets/images/P1000006.jpg' }}" alt="" style="max-width:600px; width:100%">
        <div class="jdb-show-inline-block jdb-hide-small" style="height:11em; padding:8px; float: left;"></div> -->

        <p>Coucou c'est <a href="https://href.li/?https://youtube.com/aliamusik" target="_blank">Alia & c'est pour vous</a> est un programme de plusieurs vidéos reprenant différents univers que j'explore que ce soit dans le cadre de mes fonctions, de mes hobbies ou de mes projets.</p>

        <p>A travers les rubriques « DO, TIPS, TOOLS », les storytime & les lookbooks des filles d'Elodie, je vous plonge dans un univers à la fois artistique, spirituel & intellectuel car l'un n'exclut pas l'autre mais s'emboîtent dans une parfaite harmonie, une belle fusion qui nous rappelle la citation d'Albert Einstein :</p>
      </div>
      <div>
        <div class="jdb-panel jdb-right-align jdb-serif jdb-xlarge">
          <i>La créativité, c'est l'intelligence qui s'amuse. <i class="fa fa-quote-right" aria-hidden="true"></i></i>
        </div>

        <hr/>

        <p>JE VOUDRAIS :</p>
        <ul class="jdb-ul">
          <li><i class="fa fa-fw fa-dot-circle-o" aria-hidden="true"></i> Investir dans l'innovation, l'identité et la créativité de la jeunesse européenne</li>
          <li><i class="fa fa-fw fa-dot-circle-o" aria-hidden="true"></i> Participer au développement d'une jeunesse entreprenante & multiculturelle</li>
          <li><i class="fa fa-fw fa-dot-circle-o" aria-hidden="true"></i> Bannir la peur de l'inconnu</li>
          <li><i class="fa fa-fw fa-dot-circle-o" aria-hidden="true"></i> Diriger dans un esprit de service</li>
          <li><i class="fa fa-fw fa-dot-circle-o" aria-hidden="true"></i> Apprendre à construire ensemble malgré les différences d'opinion ou de cultures</li>
        </ul>
      </div>

      <div class="jdb-padding-16"><hr/></div>

      <h3 class="posts__title jdb-center jdb-bold">
        <span>Articles récents</span> - <a href="{{ '/blog' | prepend: site.baseurl }}"><u>Blog</u></a>
      </h3>
      <div class="posts__container" itemscope itemtype="http://schema.org/Blog">
        
        {% for post in site.posts limit:3 %}
          {% include post-card.html %}
        {% endfor %}

      </div>
      {% if site.next_page %}
        <div class="posts__pages" data-pages="{{ paginator.total_pages }}"></div>
        <div class="posts__pagination">
          <span class="posts__next">Charger plus d'articles</span>
        </div>
      {% else %}
        <div class="jdb-center">
          <a class="jdb-button jdb-transparent" href="{{ '/blog/' }}">
            Accéder au blog <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </a>
        </div>
      {% endif %}
    </div>

    <!-- Right column -->
    <div class="jdb-col jdb-third x-l4">
      <div class="jdb-section jdb-light-gray jdb-margin-bottom jdb-margin-0">
        {% include social-buttons-list.html %}
      </div>
      <div class="jdb-dark-gray__">
        <div class="jdb-container jdb-padding jdb-theme">
          <div><i class="fa fa-bullhorn fa-fw" aria-hidden="true"></i> Publicité</div>
        </div>
        <div class="jdb-container jdb-white">
          <div class="jdb-container jdb-display-container jdb-light-grey jdb-section" style="height:200px; background-image:url({{ '/assets/images/no-image.png' | prepend: site.baseurl }});background-position:right; background-size:contain; background-repeat:no-repeat">
            <span class="jdb-display-leftmiddle jdb-margin-left jdb-hide-medium" style="max-width:140px">Aucune publicité pour le moment</span>
          </div>
        </div>
      </div>
      <hr/>
      {% include tag_widget.html %}
      <hr/>
      <div class="jdb-margin-bottom">
        {% include newsletter.html class="jdb-round jdb-theme" %}
      </div>
    </div>
  </div>
</section>

<section class="jdb-section" id="section-nav-caontainer">
  <div class="jdb-row-padding">
    <a class="jdb-quarter jdb-padding-64 jdb-display-container jdb-red" href="https://www.youtube.com/user/Aliamusik"
      target="_blank" style="background-image:url({{ '/assets/images/me-P1000034.jpg' }});">
      <div class="jdb-display-middle jdb-red">
        <span>VIDEOS</span>
      </div>
    </a>
    <a class="jdb-quarter jdb-padding-64 jdb-display-container jdb-green" href="{{ '/#' }}"
      style="background-image:url({{ '/assets/images/img-podcast-5674552.jpeg' }});">
      <div class="jdb-display-middle jdb-black">
        <span>PODCAST</span>
      </div>
    </a>
    <a class="jdb-quarter jdb-padding-64 jdb-display-container jdb-gray" href="{{ '/ressources/' }}"
      style="background-image:url({{ '/assets/images/img-books-89645866.jpeg' }});">
      <div class="jdb-display-middle jdb-black">
        <span>RESSOURCES</span>
      </div>
    </a>
    <a class="jdb-quarter jdb-padding-64 jdb-display-container jdb-sand" href="https://youtu.be/_E4pE-oDvpU"
      style="background-image:url({{ '/assets/images/img-casque-jaune.jpeg' }});">
      <div class="jdb-display-middle jdb-yellow">
        <span>MUSIQUE</span>
      </div>
    </a>
  </div>
</section>

{% if site.social.instagram %}
  <section>
    {% if site.social.instagram %}
      <div id="instagram">
        <div class="jdb-container jdb-theme">
          <p class="jdb-large jdb-center">
            <i class="fa fa-instagram jdb-text-pink" aria-hidden="true"></i> 
              Suivez <i><a class="link" href="{{ site.social.instagram }}" target="_blank">
                @{{ site.social.instagram | split: ".com/" | last }}</a></i> sur instagram
          </p>
        </div>
      </div>
    {% endif %}
    <div id="instagram-frame"></div>
  </section>
{% endif %}

<section class="jdb-padding-32 jdb-black jdb-center jdb-theme-action">
  <a class="jdb-xlarge link" href="{{ '/contact' | prepend: site.baseurl }}">
    <span>Contactez-moi</span>
  </a>
</section>